<h1>Did you forget your password?</h1>
<p>Please enter your email to receive the link to reset your password.</p>
<form action='/tokens/forgetpassword' method='POST'>
  <p>Email</p>
  <input type='text' name='email' />
  </br>
  <button class='averageButton button is-primary' type='submit'>Reset my password</button>
</form>
<button class='averageButton button is-primary' onclick="location.href='/?login=true'">Back</button>