<section>
<div class="login__general__container">

<form method="POST" class="register-form">
    <div class="centered-div">
        <h1 class="home-title">USER REGISTER</h1>
    </div>
    <div class="register-input-group">
        <div class="register-input-wrapper">
            <label for="firstName">Name</label>
            <input
                class="register-input"
                type="text" name="firstName" id="firstName" placeholder="Enter your name" required>
        </div>
        <div class="register-input-wrapper">
            <label for="lastName">Last name</label>
            <input
                class="register-input"
                type="text" name="lastName" id="lastName" placeholder="Enter your lastname" required>
        </div>
        <div class="register-input-wrapper">
            <label for="age">Age</label>
            <input
                class="register-input"
                type="text" name="age" id="age" placeholder="Enter your age" required>
        </div>
        <div class="register-input-wrapper">
            <label for="email">Email</label>
            <input
                class="register-input"
                type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <div class="register-input-wrapper">
            <label for="password">Password</label>
            <input
                class="register-input"
                type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>
    </div>
    <div class="register-submit">
        <button type="submit" class="btn btn-info">SIGN UP</button>
    </div>
</form>
<div class="centered-div">
<a href="?login=true">Do you already have an account? Enter here</a>
</div>
</div>
</section>
<script src="/js/register.js"></script>