<h1>Restore password</h1>
<form method='POST' action='/tokens/reset-password'>
  <label for='email'>Email:</label>
  <input type='text' id='email' name='email' required />
  <label for='newPassword'>New Password:</label>
  <input type='password' id='newPassword' name='newPassword' required />
  <button type='submit'>Change password</button>
</form>
<button class='averageButton button is-primary' onclick="location.href='/?login=true'">Back</button>

